<% content_for :title, "New genre" %>

<h1 class="text-center">New genre</h1>

<%= render "form", genre: @genre %>

<br>

<div>
  <%= link_to "Back to genres", genres_path, class: "btn btn-dark" %>
</div>
