<h1>Now you are searching in <b><%=@categories.name%></b> category in <b><%=@genres.name%></b> genre</h1>
<% @products.each do |product| %>
<%= product.name %>
<%end%>
<p>Find me in app/views/genrecatalog/index.html.erb</p>
