<% if notice.present? %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<h1 class="text-center">Catalog</h1>

<div class="catdiv">
        <% @categories.each do |cat| %>
        <%= link_to catalog_index_path(category_id: cat), data: { turbo_method: :get } do %>
            <% if cat.category_image.attached? %>
                <%= image_tag cat.category_image, class: "img-thumbnail" %>
            <% else %>
                <p>Couldn't find image for <%= cat.name %> category <p>
                <% end %>
        <%end%>
</div>
<%end%>
