<h1 class="text-center" >Now you are searching in <b><%= @categories.name %></b> category</h1>
<h1 class="text-center">Select music genre that you want to browse <b><%=pluralize(@categories.products.count,@categories.name)%></b> in</h1>
<% @categories.products.each do |product|%>
<%=product.name%>
<%end%>