.genre_container{
    background-color: aqua;
}

.imagezoom{
    scale: 40%;
    transition: 0.2s;
    float: left;
}
.imagezoom:hover{
    scale: 50%;
    background-color: hsla(195, 83%, 58%, 0.2);
    border-radius: 25px;
    transition: 0.4s;
    transition-timing-function: ease-in;
}


