<% content_for :title, "New category" %>

<h1 class="text-center">New category</h1>

<%= render "form", category: @category, class: "form-horizontal" %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
