<% content_for :title, "New product" %>



<h1 class="text-center" >New product</h1>

<%= render "form", product: @product, class: "form-horizontal" %>

<br>

<div>
  <%= link_to "Back to products", products_path, class: "btn btn-dark" %>
</div>